@using Sandbox;
@using Sandbox.UI;
@using Framework.UI;

@inherits Panel
@namespace Framework.UI

<root>
	<div class="Canvas">
		<div class="CategoryPanel">

		</div>
		<div class="InventoryPanel">

		</div>
	</div>
</root>

@code
{
	public Inventory()
	{

	}
}
